### Syntax and semantics in python 

### Video Outline
**1-single line commments and multiline comments**

**2-Def of syntax and semantics**  

**3-Basic syntax rules in python** 

**4-understanding semantics in python** 

**5-common syntax errors and how to avoid them** 

**6-practical code example**

In [11]:
## Basic Syntax Rules in python
## Case sensitifity - python is case sensitive 

'''
"1.0 Basic.ipynb"
welcome to python 
this is multiple comments 
'''

## Def A virable 
name='Mohammad'
Name='Alghani'

print(name)
print(Name)

Mohammad
Alghani

In [12]:
### Indentation use block or space 
age=32
if age>30:
    print(age)
else:
    print("not 30")

print(age)

32
32

In [13]:
# This is single line comment
print('Hello world')

Hello world

In [14]:
### Line Continuation  use \ 
total= 1+2+3+4+5+6+7+\
4+5+6
print(total)

43

In [15]:
### Multiple statment on a single line 
x=5;y=10;z=x+y
print(z)

15

In [16]:
### Understand semantics in python 
# virable assigment 
age=32 ##age 
name='krish'


## Type Inference 
type(name)

str

In [17]:
type(age)

int

In [18]:
vairable=10
print(type(vairable))
vairable='krish'
print(type(vairable))

<class 'int'>
<class 'str'>

In [19]:
age=32
if age>30:
    print(age)

32

In [20]:
### name error
a=b

NameError: name 'b' is not defined

In [ ]:
## code examples of indentations 
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")    

print("outside the if block")

Correct Indentation
This will print

# =====================================================
# Virables 

### Video Outline
**1-Intro to variables**

**2-Declaring and assigning variables**  

**3-Naming Conventions** 

**4-understanding Variable Types** 

**5-Dynamic Typing** 

**6-practical code example And Common Error**

In [ ]:
a=100

In [ ]:
## Declaring and Assigning Variables 
age=32
height=6.1
name="krish"
is_student=True


print("Age :" , age)

print("height :" , height)

print("name :" , name)

print("is_student :" , is_student)

Age : 32
height : 6.1
name : krish
is_student : True

In [ ]:
### Naming Conventions 
## Sholud be descriptive 
# Start letter or underscore (_)
# Variable name case sensetive 

first_name='Krish'
last_name='nike'

In [ ]:
## Invalid variable name 
# 2age=30
#first-name='mohammad'
#@name='krish

In [ ]:
## Case Synsitive 
name='Krish'
Name='nike'

In [ ]:
## Understanding Variable types 
## python variable determine at run time 

age=25
height=6.1
name='Krish'
is_student=True 

print(type(name))

<class 'str'>

In [ ]:
## Type checking and conversion 
type(height)

float

In [ ]:
age=25
type(age)

int

In [ ]:
age_str=str(age)
type(age_str)

str

In [ ]:
age='25'
int(age)

25

In [ ]:
name='mohammad'
int(name)

ValueError: invalid literal for int() with base 10: 'mohammad'

In [ ]:
height=5.11 
type(height)

float

In [ ]:
float(int(height))

5.0

In [ ]:
### Dynamic Type 
var=10
print(var,type(var))

10 <class 'int'>

In [ ]:
var='hello'
print(var,type(var))

hello <class 'str'>

In [ ]:
var=3.2
print(var,type(var))

3.2 <class 'float'>

In [ ]:
### input 
age=input("What is the AGE:")
print(age,type(age))

25 <class 'str'>

In [ ]:
age=int(input("What is the AGE:"))
print(age,type(age))

85 <class 'int'>

In [ ]:
num1=float(input("Enter the first number :"))
num2=float(input("Enter the second number :"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum:",sum)
print("difference :",difference)
print("product :",product)
print("quotient:",quotient)

Sum: 115.0
difference : 55.0
product : 2550.0
quotient: 2.8333333333333335

## Data Types

In [ ]:
## int 
age=35
type(age)

int

In [ ]:
##float 
width=5.11 
print(height)
print(type(height))

5.11
<class 'float'>

In [ ]:
## string 
name='mohammad'
print(name)
print(type(name))

mohammad
<class 'str'>

In [ ]:
##boolean 
is_True=True
type(is_True)

bool

In [ ]:
a=10
b=10

bool()

False

In [ ]:
type(a==b)

bool

In [22]:
## Common Error 
result='hello' + 5

TypeError: can only concatenate str (not "int") to str

In [24]:
result='hello' +str(5) 
result

'hello5'

## Operators In python

In [27]:
## Arithmatic Opreation 

a=10
b=5 
addresult=a+b 
subresult=a-b
mulresult=a*b
divresult=a/b
floordivresult=a//b
modular_result=a%b
exponintiol_opreation=a**b


print(addresult)
print(subresult)
print(mulresult)
print(divresult)
print(floordivresult)
print(modular_result)
print(exponintiol_opreation)

15
5
50
2.0
2
0
100000

In [28]:
10/5

2.0

In [30]:
21//5

4

In [32]:
### Comparison OPREATORS 
## ==  Equal to 
a=10
b=10 
a==b

True

In [33]:
str1='mohammad'
str2='mohammad'
str1==str2

True

In [34]:
## Not Equal != 
str1!=str2

False

In [35]:
str3='mohammad'
str4='Mohammad'
str3!=str4

True

In [36]:
### Greater Than >

num1=45
num2=55
num1>num2

False

In [37]:
### less Than <
num1 < num2

True

In [38]:
## Grater than or equal to 
number1=45 
number2=45
print(number1>=number2)

True

In [39]:
## Less than or equal 
number1=45 
number2=45
print(number1<=number2)

True

#### Logical opreator

In [40]:
### And , Not , OR

x=True 
y=True 
x and y

True

In [41]:
x=True 
y=False 
x and y

False

In [43]:
## OR 

x=False
y=False 
x or y

False

In [44]:
x=False
y=True 
x or y

True

In [45]:
## Not 

X=True 
not X

False

In [47]:
num1=float(input("Enter the first number :"))
num2=float(input("Enter the second number :"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2
floordivresult=num1//num2
modular_result=num1%num2
exponintiol_opreation=num1**num2

print("Sum:",sum)
print("difference :",difference)
print("product :",product)
print("quotient:",quotient)
print(floordivresult)
print(modular_result)
print(exponintiol_opreation)

Sum: 15.0
difference : 1.0
product : 56.0
quotient: 1.1428571428571428
1.0
1.0
2097152.0