## Conditional Statments (if , wlif ,else)

In [1]:
## IF statment 
age=20 

if age >=18: 
    print('You Are Allowed to vote in elections')

You Are Allowed to vote in elections

In [2]:
age >=18

True

In [4]:
### Else
## The else statment if the condition false 

age=16
if age >=18: 
    print('You Are Allowed to vote in elections')
else:
    print("you are a minor")

you are a minor

In [5]:
## Elif 
## Allow To check Multiple Condition 
age = 20 
if age <13 : 
    print ('You are A chiled')
elif age<18:
    print('you are a tenager')
else:
    print('you are an adult')

you are an adult

In [7]:
### Nested conditional statment 

### Number even,odd , negative 

num=int(input("Enter the number : "))

if num>=0:
    print("The number is posative")
    if num%2==0:
        print("the number is even")
    else:
        print('the number is odd')

else:
    print('The number is negative')

The number is posative
the number is even

In [9]:
### Determain if A year is A leap year using nested if 

year=int(input('Enter The Year:'))

if (year%4==0):
    if year%100==0:
        if year%400==0:
            print(year, "is a leap Year")
        else:
            print(year,'not leap year')
    else:
        print(year,'is a leap year')
else:
    print(year,'not leap year')

2024 is a leap year

In [10]:
### Determine the ticket Price based on the age and whether the person is student . 
age=int(input("Enter your age:"))
is_student=input("Are you A student or not (Yes , No)").lower()


if age<5:
    price="Free"
elif age<=12:
    price="$10"
elif age<=17:
    price="$17"
    if is_student=='yes':
        price='$12'
    else:
        price='$15'
elif age<=64:
    if is_student=='yes':
        price='$18'
    else:
        price='$25'
else:
    price='$20'

print("Ticket Price:",price)

Ticket Price: $12

### Loops In Python

In [11]:
range(5)

range(0, 5)

In [13]:
## For loop 

for i in range(5): ## Last number not Included 
    print(i)

0
1
2
3
4

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
range(1,10,1)


for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [18]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [19]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [20]:
### Strings 
str='Mohammad'
for i in str:
    print(i)

M
o
h
a
m
m
a
d

In [21]:
### While loop 

## As long as the condition is True 

count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [22]:
count=0
while count%2==0:
    print(count)
    count+=1

0

In [23]:
### Loop Control statment 

# Break : exits the loop permaturely 

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
## Continue : step current and countinue with next loop 

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [26]:
## Pass 
## It Does Nothing 

for i in range (5):
    if i==3:
        print("The Number is ",i)
        pass 
    print(i)

0
1
2
The Number is  3
3
4

In [27]:
## Nested Loops 
## Loop inside a loop 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [28]:
## Examples - Calculate the sum of the first natural numbers using while and For loop 


n=10 
sum=0
count=1
while count<=n:
    sum+=count
    count+=1
print(f"Sum Of 10 Natural Numbers:{sum}")

Sum Of 10 Natural Numbers:55

In [29]:
sum=0
for i in range(11):
    sum+=i
print(sum)

55

In [31]:
## Example Disply the prime number between 1 and 100 

for num in range(100):
    if num>1: 
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97