### Tuples 
#### Tuple immutable

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello",3.14,True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [6]:
### Accessing Tuple elements 

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
numbers[0]

1

In [8]:
numbers[-1]

6

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [10]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [11]:
### Opreations 

concatination_tuple=numbers+mixed_tuple
concatination_tuple

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14, True)

In [12]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [14]:
### Immutable of tuples : i cant change the element 

lst=[1,2,3,4,5]
print(lst)


lst[1]='mohammad'
print(lst)

[1, 2, 3, 4, 5]
[1, 'mohammad', 3, 4, 5]

In [15]:
numbers[1]='mohammad'

TypeError: 'tuple' object does not support item assignment

In [17]:
## Tuple Methods 
print(numbers.count(1))

print(numbers.index(3))

1
2

In [18]:
### Packing and Unpacking tuple 
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [19]:
##Unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [21]:
### Unbacking with * 
numbers=(1,2,3,4,5,6)
first,*middel,last=numbers
print(first)
print(middel)
print(last)

1
[2, 3, 4, 5]
6

In [24]:
#### Nested Tuples 

lst=[[1,2,3,4,5,6],[7,8,9,10],[1,"Hello",3.14,"C"]]

lst[0][0:3]

[1, 2, 3]

In [25]:
lst=[[1,2,3,4,5,6],[7,8,9,10],(1,"Hello",3.14,"C")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [26]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
## Access the elements inside a tuple 

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [27]:
for sub_tuple in nested_tuple : 
    for item in sub_tuple:
        print(item , end=" ")
    print()

1 2 3
a b c
True False